<%- include ("../partials/header.ejs")%>
<style>
    /* .form-control{
        
    } */
    
    .mid{
       
       width:45%;
        margin: 20px auto;
    }
    .sub{
        width:100%;
    }
   
</style>
<div class ="container-fluid">
  
   <div class= "row">
       
        <div class = "mid">
            <form  action= "/campgrounds/<%=campground._id%>/comments/<%=comment.id%>?_method=PUT" method ="POST">
                <div class="mb-3">
                    <label for="text" class="form-label" >comment</label>
                    <textarea  name="comment[text]" type="text" class="form-control" id="text"><%= comment.text %></textarea>
                </div>
            
               
                <button type="submit" class="btn btn-primary sub">Update Comment</button>
            </form>
            <p>
            <a href = "/campgrounds/<%=campground._id%>">Go Back</a>
            </p>
        </div>
   </div>
   





</div><!--container-->


<%- include ("../partials/footer.ejs")%>